li.list-group-item {
    display: flex;
    justify-content: space-between;
}

li.list-group-item span {
    align-self: center;
}

.shopping-items-list, .add-btn {
    margin-top: 30px;;
}

section.navbar-section {
    margin-bottom: 50px;
    background-color: #f1f1f1;
}

.navbar-section {
    background-color: #F8F9FA;
    margin-bottom: 30px;
}

.modal-dialog.register_modal input {
    margin-bottom: 20px;
}

.welcome-text {
    margin-right: 15px;
}